.img-1{
    grid-area:img-1;
    min-height: 51.5rem;
    background-image: url("../../images2/3_pg1.jpg");
}

.img-2{
    grid-area:img-2;
    background-image: url("../../images2/3_pg2.jpg");
}

.img-3{
    grid-area:img-3;
    background-image: url("../../images2/3_pg3.jpg");
}

.img-4{
    grid-area:img-4;
    background-image: url("../../images2/3_pg4.jpg");
}

.img-5{
    grid-area:img-5;
    background-image: url("../../images2/3_pg5.jpg");
}

.img-6{
    grid-area:img-6;
    min-height: 51.5rem;
    background-image: url("../../images2/3_pg6.jpg");
}

.img-7{
    grid-area:img-7;
    background-image: url("../../images2/3_pg7.png");
}

.img-8{
    grid-area:img-8;
    background-image: url("../../images2/3_pg8.png");
}

.img-9{
    grid-area:img-9;
    min-height: 51.5rem;

    background-image: url("../../images2/3_pg9.png");
}

.img-10{
    grid-area:img-10;
    background-image: url("../../images2/3_pg10.png");
}

.img-11{
    grid-area:img-11;
    background-image: url("../../images2/3_pg11.png");
}

.img-12{
    grid-area:img-12;
    background-image: url("../../images2/3_pg12.png");
}

.img-13{
    grid-area:img-13;
    background-image: url("../../images2/3_pg13.png");
}

.img-14{
    grid-area:img-14;
    min-height: 51.5rem;
    background-image: url("../../images2/3_pg14.png");
}

.img-15{
    grid-area:img-15;
    background-image: url("../../images2/3_pg15.png");
}

.img-16{
    grid-area:img-16;
    background-image: url("../../images2/3_pg16.png");
}

.img-17{
    grid-area:img-17;
    min-height: 51.5rem;

    background-image: url("../../images2/3_pg17.png");
}

.img-18{
    grid-area:img-18;
    background-image: url("../../images2/3_pg18.png");
}

.img-19{
    grid-area:img-19;
    background-image: url("../../images2/3_pg19.png");
}

.img-20{
    grid-area:img-20;
    background-image: url("../../images2/3_pg20.png");
}

.img-21{
    grid-area:img-21;
    background-image: url("../../images2/3_pg21.png");
}

.img-22{
    grid-area:img-22;
    min-height: 51.5rem;

    background-image: url("../../images2/3_pg22.png");
}

.img-23{
    grid-area:img-23;
    background-image: url("../../images2/3_pg23.png");
}

.img-24{
    grid-area:img-24;
    background-image: url("../../images2/3_pg24.png");
}

.img-25{
    grid-area:img-25;
    min-height: 51.5rem;
    background-image: url("../../images2/3_pg25.png");
}

.img-26{
    grid-area:img-26;
    background-image: url("../../images2/3_pg26.png");
}

.img-27{
    grid-area:img-27;
    background-image: url("../../images2/3_pg27.jpg");
}

.img-28{
    grid-area:img-28;
    background-image: url("../../images2/3_pg28.jpg");
}

.img-29{
    grid-area:img-29;
    background-image: url("../../images2/3_pg29.jpg");
}