@mixin clearfix{

    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

//MEDIA QUERY MANAGER

/*
0-600PX PHONE
0-900PX TABLET PORTRAIT
900-1200PX TABLET LANDSCAPE
1800PX BIG DESKTOP

*/

@mixin respond-phone{
    @media(max-width:600px){@content};
}

@mixin respond($breakpoint){
    @if $breakpoint == phone{

        @media(max-width:900px){@content};

    }
}

@mixin absCenter {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}